.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  width: 400px;
  border: 2px solid #000;
  background: white;
  boxShadow: 24px;
  p: 4;
}
.recharts-default-legend {
  margin: -12px !important;
  color: #ce0b77;
}
.mainBlock {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EDF4FB;
  margin-bottom: 10px;
}
.headerLink {
  padding: 5px;
  fontSize: 23;
  text-decoration: none;
  color: #757575;
  text-transform: uppercase;
}
.headerLink.active {
  color: #1976D2;

}
.settingsWrapper {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;
}
.settings-item-group {
  display: flex;
  flex-direction: column ;
  margin-bottom: 20px;
}
.settings-form-label {
  align-self: flex-start;
}
.settings-action-wrapper {
  padding: 10px 8px 0 8px;
  display: grid;
  row-gap: 5px;
  border: 1px solid black;
  border-radius: 20px;
}
.settings-action-name {
  background-color: darkgrey;
  width: 170px;
  border-radius: 20px;
  user-select: none;
  padding: 16px;
  margin: 0px 0px 8px;
}